USER_REAL_NAME="Tu Nombre Completo"
USER_REAL_EMAIL="tu.email@ejemplo.com"
AZURE_ORG_URL="https://dev.azure.com/<TU_ORG>"
AZURE_PROJECT_NAME="<TU_PROYECTO>"
AZURE_PAT="<TU_PERSONAL_ACCESS_TOKEN>"
QA_LEAD_NAME="QA Nombre Completo"
QA_LEAD_EMAIL="qa.email@ejemplo.com"